<div class="start sliderBox">
    <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="false">

        <div class="carousel-inner" role="listbox">
           

            <div class="carousel-item active">
                <img src="{{ theme.link }}/images/Tannheimer-084.jpg">
            </div>
        

    </div>
</div>